:root {
  --border: #E6E6F0;
  --background: #e5e5e5;
  --blue: #0e4362;
  --blue-light: #165275;
  --red: #d02b2f;
  --red-light: #f23035;
  --green: #04D361;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}