#home-header {
  background: var(--blue);
  height: 160px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 64px;
}

#home-header img {
  width: 100px;
}

#home-header a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 200px;
  border-radius: 5px;
  background: var(--blue-light);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

main {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 64px;
}

.input-group {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px;
}

.input-group button {
  width: 160px;
  height: 54px;
  border: none;
  background: var(--red);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

#search {
  margin-bottom: 32px;
  height: 54px;
  flex: 1;
  border: none;
  padding: 16px;
  font-size: 16px;
}

table {
  width: 100%;
  border-spacing: 0 8px;
}

th {
  padding: 16px 32px;
  text-align: center;
  line-height: 24px;
}

td {
  padding: 16px 32px;
  border: 0;
  background: #fff;
  border-radius: 4px;
}

.edit {
  border: none;
  background: #fff;
  color: var(--blue);
  font-size: 16px;
}

.delete {
  border: none;
  background: #fff;
  color: #d02b2f;
  font-size: 16px;
}