{% extends 'index.html' %}

{% load static %}

{% block content %}
<header id="home-header">
  <img src="{% static 'images/logo.png' %}" alt="Letras DPE com as cores da bandeira do Pará">

  <a href="/register">Cadastrar pessoa</a>
</header>

<main>
  <div class="input-group">
    <input type="text" id="search" placeholder="Digite um CPF para buscar">
    <button>Pesquisar</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nome completo</th>
        <th>Nome da mãe</th>
        <th>CPF</th>
        <th>Endereço</th>
        <th>Telefone</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Lucas Costa dos Prazeres</td>
        <td>Adriana Cristina de Almeida Costa</td>
        <td>018.462.442-85</td>
        <td>Rua Triunvirato, 558 - Cidade Velha - Belém</td>
        <td>(91) 99280-9380</td>
      </tr>

      <tr>
        <td>Lucas Costa dos Prazeres</td>
        <td>Adriana Cristina de Almeida Costa</td>
        <td>018.462.442-85</td>
        <td>Rua Triunvirato, 558 - Cidade Velha - Belém</td>
        <td>(91) 99280-9380</td>
      </tr>

      <tr>
        <td>Lucas Costa dos Prazeres</td>
        <td>Adriana Cristina de Almeida Costa</td>
        <td>018.462.442-85</td>
        <td>Rua Triunvirato, 558 - Cidade Velha - Belém</td>
        <td>(91) 99280-9380</td>
      </tr>
    </tbody>
  </table>
</main>
{% endblock %}