{% extends 'index.html' %}

{% load static %}

{% block content %}
<header id="home-header">
  <img src="{% static 'images/logo.png' %}" alt="Letras DPE com as cores da bandeira do Pará">

  <a href="{% url 'create_user' %}">Cadastrar pessoa</a>
</header>

<main>
  <div class="input-group">
    <input type="text" id="search" placeholder="Digite um CPF para buscar">
    <button>Pesquisar</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nome completo</th>
        <th>Nome da mãe</th>
        <th>CPF</th>
        <th>Endereço</th>
        <th>Telefone</th>
      </tr>
    </thead>

    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.full_name }}</td>
          <td>{{ user.mother_name }}</td>
          <td>{{ user.cpf }}</td>
          <td>
            {{ user.street }}, {{ user.house_number }} - {{ user.neighborhood }} - {{ user.city }}
          </td>
          <td>{{ user.phone_number }}</td>

          <td>
            <a class="edit" href="{% url 'edit_user' user.id %}">
              <i class="fa-solid fa-user-pen"></i>
            </a>
          </td>

          <td>
            <a class="delete" href="{% url 'delete_user' user.id %}">
              <i class="fa-solid fa-trash-can"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}